<html>
  <body>
    <div class="ui-page" deviceName="web" deviceType="desktop" deviceWidth="1024" deviceHeight="768">
         <div id="t-eddb4b6e-6be6-47da-bed8-8bda799a51b3" class="template growth-both devWeb canvas firer commentable non-processed" alignment="left" name="Template 1 imported_1" width="1024" height="768">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/eddb4b6e-6be6-47da-bed8-8bda799a51b3-1543283942832.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/eddb4b6e-6be6-47da-bed8-8bda799a51b3-1543283942832-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/eddb4b6e-6be6-47da-bed8-8bda799a51b3-1543283942832-ie8.css" /><![endif]-->
           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>