#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-refresh_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-drop-down_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-inbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-outbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-spam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-forum_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-notifications_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Two-line-item_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-settings_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Description {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Review {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Profile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0c14ad5b-3893-4c97-a405-5d4af9298588 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}