#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-refresh_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Item-row_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Picture_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-date_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Item-row_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Picture_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-date_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-star_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Image_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Image_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-drop-down_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-inbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-outbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-spam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-forum_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-promo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-notifications_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Two-line-item_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-settings_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1f852efe-6b21-4e5e-bcb9-f49a47ffd306 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}