#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-refresh_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Input_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Paragraph_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 24px 24px 24px 24px;
  padding-top: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  height: 22px;
  width: 185px;
  -pie-background: linear-gradient(to right,#04C4C0,#0AA2D5);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Image_4 {
  -ms-transform: rotate(180.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2ada932d-5e4a-423b-b83d-e4de181147f3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}