#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Bg-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Two-line-item_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Picture_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Label_name {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-dots_menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-edit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-star {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-arrow-back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-307608e5-6a9d-4aef-a1ec-976fcd7e45c2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}