#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3c46e890-7c3c-4ebb-935d-83436726e9e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}