#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-refresh_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-drop-down_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-inbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-outbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-spam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-forum_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-promo_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-notifications_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-settings_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_45 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_46 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-mic_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-camera_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-lock_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Charged_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Date_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Time_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}