#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-BgWhite {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-refresh_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Panel_6 {
  border-radius: 0px 0px 0px 0px;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_172 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_173 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-drop-down_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_25 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-inbox_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-outbox_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_26 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-spam_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-forum_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_36 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-promo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_41 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_37 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_39 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-notifications_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Two-line-item_40 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-settings_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Row_cell_5 {
  position: relative;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #651296;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #651296;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #651296;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #651296;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 18px;
  width: 60px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Row_cell_6 {
  position: relative;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_43 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_44 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 57px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_45 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 62px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-ApartListLayout_1 .s-Button_46 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 103px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-mic_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-camera_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-lock_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Charged_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Rectangle_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Date_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Time_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Signals {
  -ms-transform: rotate(0.0deg);
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5c0114fa-6369-412e-8a5a-7983ad912beb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}