#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-BgWhite {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Bg-white {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line_1 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line_1 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-mail {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-phone {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Softkeys-bg {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Square {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Triangle {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Image_174 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Label_name {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-dots_menu {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-edit {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-star {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-hour {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-signals {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Bg_top {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-refresh_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Menu {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Panel_6 {
  border-radius: 0px 0px 0px 0px;
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Panel_6 > .valign {
  vertical-align: top;
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Image_172 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Image_173 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_25 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-inbox_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_13 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-outbox_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_26 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-spam_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_35 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-forum_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_36 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-promo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_41 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_37 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_39 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-notifications_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Two-line-item_40 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-settings_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-Bg_status_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 #s-more-vertical {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-5c6ef160-c3dc-4e6c-bf6a-a57891da5ec3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}