#s-80c8ad96-1ff3-46c9-825c-005565bbbc40 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c8ad96-1ff3-46c9-825c-005565bbbc40 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c8ad96-1ff3-46c9-825c-005565bbbc40 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c8ad96-1ff3-46c9-825c-005565bbbc40 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80c8ad96-1ff3-46c9-825c-005565bbbc40 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-80c8ad96-1ff3-46c9-825c-005565bbbc40 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}