#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Bg-white_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Softkeys-bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Square_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Circle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Triangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Picture_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Label_name_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-dots_menu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-edit_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-star_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-arrow-back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-hour_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-signals_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Two-line-item_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Two-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-phone {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-phone_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}