#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Bg-white_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Softkeys-bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Square_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Circle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Picture_user {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Label_name_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-dots_menu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-edit_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-star_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-arrow-back {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Bg_status_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-hour_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-signals_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_1 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_1 {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Two-line-item_28 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-mail {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line {
  stroke-width: 1px;
  stroke: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Two-line-item {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-phone {
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_7 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Line_8 {
  stroke-width: 2px;
  stroke: #019AE8;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-Two-line-item_1 {
  border-radius: 0px 0px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 #s-phone_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-9fbb4608-da32-408c-b98e-7c0f5247ad22 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}