#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-BgWhite {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Bg_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-more-vertical {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-refresh_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-drop-down_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-inbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-outbox_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-spam_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-forum_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-notifications_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Two-line-item_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-settings_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Menu {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba #s-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e6623568-534d-4d6a-a1bb-6663861750ba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}